language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t tgoc222/dockerprac -f Dockerfile.dev .

script: 
  - docker run -e CI=true tgoc222/dockerprac npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "dockerprac"
  env: "Dockerprac-env"
  bucket_name: "elasticbeanstalk-us-east-1-452353948639"
  bucket_path: "dockerprac"
  on:
    branch: main
  access_key_id: $aws_key
  secret_access_key: "$aws_secret"